body {
	padding-bottom: 70px;
}

.body-container{
	margin-top:50px;
	background-color:white;
}
.body-container{
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px;
}
.body-container:hover{
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}